# Logs and output
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.pnpm-store

# Build artifacts 
dist
build
public/build
.next
out

# Dependency caches
node_modules
.cache
.yarn-cache

# IDE/Editor settings
.idea
.vscode
*.swp
*.swo
*.DS_Store

# OS-specific files
Thumbs.db

# Package managers
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environment variables
.env
.env.local
.env.*.local

# Other
coverage
.nyc_output
.eslintcache
.prettierrc.js # Adjust if using a different Prettier config file

# Backend-specific (adjust based on your setup)
*.sqlite3

# Frontend-specific (adjust based on framework)
.cache/ # Common for Next.js

# Vite-specific
vite.config.js.timestamp-cache

# Backend-specific (adjust as needed)
backend/node_modules 
backend/renderstaywoke/
backend/CSV/images(1).csv
backend/CSV/images_observations(1).csv
backend/CSV/location_descriptions(1).csv
backend/CSV/locations(1).csv
backend/CSV/name_classifications(1).csv
backend/CSV/name_descriptions(1).csv
backend/CSV/names(1).csv
backend/CSV/observations(1).csv
backend/import-csv.js
backend/models/index.js
backend/scripts/setup.js
backend/middleware/stayup.js
backend/middleware/proxy.js
backend/scripts/localdatasetup.js
backend/scripts/localsave.js
backend/mongo/models/index.js
backend/mongo/CSV/images(1).csv
backend/mongo/CSV/images_observations(1).csv
backend/mongo/CSV/locations(1).csv
backend/mongo/CSV/location_descriptions(1).csv
backend/mongo/CSV/name_classifications(1).csv
backend/mongo/CSV/names(1).csv
backend/mongo/CSV/name_descriptions(1).csv
backend/mongo/CSV/observations(1).csv
backend/mongo/mockSchema.js
backend/mongo/scripts/localsave.js
backend/mongo/scripts/localdatasetup.js
